.main {
    width: 100%;

    h2 {
        color: #BDBDBD;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.mainBackgroundFon {
    width: 100%;
    // background: linear-gradient(180deg, #fff 0%, #E5E5E5 20%, #000 100%);
    background: url(../../assets/img/test_fon.svg);
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 120px 0;
}


@media (max-width: 767px) {

    .main {
        h2 {
            font-size: 20px;
        }
    }

}