.main {
    width: 100%;

    h2 {
        color: #BDBDBD;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.mainBackgroundFon {
    width: 100%;
    background: url(../../assets/img/fon.png);
    background-size: 100% auto;
    padding: 0 0 120px 0;
}


@media (max-width: 767px) {

    .main {
        h2 {
            font-size: 20px;
        }
    }

}